<!DOCTYPE html>
<html>
    <body>
        <div>
        <form action="parse_input" method="POST">
            {% csrf_token %}
            Recepient's ID(comma seperated) <input type="text" name="r_ids"><br>
            Subject <input type="text" name="subject"><br>
            Body <input type="text" name="body"><br>
            CC(comma seperated) <input type="text" name="cc"><br>
            BCC(comma seperated) <input type="text" name="bcc"><br>
            <input type="submit">
        </form>
        </div>
        <br>
        <br>
        <hr>
        <div>
            <form action = "upload_file" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="myfile" /><br>
                Subject <input type="text" name="subject"><br>
                Body <input type="text" name="body"><br>
                <input type="submit" name="submit" value="Upload" />
            </form>
            </div>
    </body>
</html>